{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href=" {% static '/styles/login.css' %} ">
    <title>Quora Clone</title>
</head>
<body>
    <div class="login-root">
        <div class="login-box">
            <img src="{% static '/images/quora-logo.png' %}" width="200px" />
            <b class="slogan">A place to share knowledge and better understand the world</b>
            <form method="post" class="form-root" class="card">
                <h3 >Enter Your Password Twice so we can verify it correctly</h2>
                {% csrf_token %}
                {{form.as_p}}
                <div class="login-button">
                    <button type="submit">Change Password</button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>