{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href=" {% static '/styles/signup.css' %} ">
    <title>Quora Clone</title>
  </head>
  <body>
    <div class="signup-root">
        <div class="signup-box">
            <img src="{% static '/images/quora-logo.png' %}" width="200px" />
            <b class="slogan">A place to share knowledge and better understand the world</b>
            <form class="form-root" method="post" enctype="multipart/form-data" >
              {% csrf_token %} {{ form.as_p }}
              <div class="signup-button">
                    <button type="submit">Submit</button>
              </div>
              <div class="login-route">
                <span>Already Have A Account? <a href="/">Login</a></span>
              </div>
            </form>
        </div>
    </div>
  </body>
</html>
