{% extends 'base.html' %}
{% block userProfile %}
    <div>
        <span>Moiz</span>
    </div>
    <div>
        <a href="{% url 'profile' %}">Profile</a>
        <a href="{% url 'answers' %}">Answers</a>
        <a href="{% url 'questions' %}">Questions</a>
        <a href="{% url 'usertopics' %}">Topics</a>
        <a href="#">Following</a>
    </div>
    <div>{{ my_data }}</div>
    
        {% block profile %}
        {% endblock profile %}
    
        {% block answer %}
        {% endblock answer %}
        
        {% block question %}
        {% endblock question %}
        
        {% block usertopic %}
        {% endblock usertopic %}

        {% block edituserdata %}
        {% endblock edituserdata %}
        
    {% endblock userProfile %}
    