{% load static %}
<div class="nav-root">
  <div class="nav-item">
    <img src="{% static '/images/quora-logo.png' %}" height="30px" alt="logo">
    <a href="{% url 'home' %}">Home</a>
    <a href="{% url 'user-profile' %}">About</a>
    <a href="{% url 'addtopic' %}">Add Topic</a>
  </div>
  <div class="nav-item">
    <form action="{% url 'search_topics' %}" method="GET">
      <input type="text" name="q" placeholder="Search topics">
      <button type="submit">Search</button>
    </form>
    <a class="logout-button" href="{% url 'logout' %}">Logout</a>
  </div>
</div>
